* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21222a;
  padding: 1rem 2rem;
  height: 90px;
}

nav .nav-title {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

nav .logo {
  width: 35px;
}

nav h2 {
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #61dafb;
}

nav h3 {
  font-weight: 600;
  color: #deebf8;
}
/* END OF NAV BAR */

/* MAIN CONTENT */
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #282d35;
  padding: 0 2rem;
  background-image: url(../src/images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right;
}

main > h1 {
  color: #fff;
  font-weight: 700;
  font-size: 39px;
  line-height: 47px;
  letter-spacing: -0.05em;
}

main > ul li {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-block: 10px; 
}

main ul li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
/* END OF MAIN CONTENT */
